<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="raneen_uibookmark_listing_data_source"
                      xsi:type="string">Raneen\UiBookmark\Model\ResourceModel\Bookmarks\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Raneen\UiBookmark\Model\ResourceModel\Bookmarks\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ui_bookmark</argument>
            <argument name="resourceModel" xsi:type="string">
                Magento\Ui\Model\ResourceModel\Bookmark
            </argument>
        </arguments>
    </virtualType>
</config>
