<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bookmark" translate="label" sortOrder="9999999">
            <label>bookmark</label>
        </tab>
        <section id="ui_bookmark_section" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Ui Bookmark</label>
            <tab>bookmark</tab>
            <resource>Raneen_UiBookmark::items</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Admin Roles</label>
                    <source_model>Raneen\UiBookmark\Model\Config\Source\ListAdminRole</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
